<!doctype html>
<html lang="en"><!--<![endif]-->
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"><!-- Page title -->
	<title>About Me</title>
	<meta name="description" content=""><meta name="author" content=""><!-- FontKit --><script src="//use.typekit.net/xrf3ije.js"></script><script>try{Typekit.load({ async: true });}catch(e){}</script><!-- CSS -->
	<link href="../css/style.css" rel="stylesheet" /><!-- Favicon -->
	<link href="../img/favicon.png" rel="shortcut icon" /><!-- Scale --><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><!-- Modernizr / Respond --><script src="../js/libs/modernizr-2.0.6.min.js"></script>
</head>
<body class="pattern">
<div class="wrapper"><!-- Header -->
<header>
<div class="container">
<h1 style="color:#c8cbceec;">Vashisht Madhavan</h1>

<nav>
<ul>
	<li class="selected"></li>
	<li><a href="../index.html">home</a></li>
	<li><a href="research.html">research</a></li>
	<li><a href="about.html">about</a></li>
	<li><a href="../pdf/resume.pdf">resume</a></li>
</ul>
</nav>

<div class="clearfix"></div>
</div>
</header>
<!-- Title --><!-- Main content -->

<section>
<div class="one_third"><img src="../img/holi.jpg" /></div>

<div class="one_third"><img src="../img/banquet.jpg" /></div>

<div class="one_third"><img src="../img/msft_squad.jpg" /></div>

<div class="clearfix"></div>
</section>

<section id="teaching">
<hr />
<div class="full"><!-- BDD -->
<h1>In My Free Time</h1>

<p>I enjoy playing sports, photography, and traveling. I am passionate about new technology in education, healthcare, and transportation.</p>
</div>

<div class="clearfix"></div>

<div class="full"><!-- BDD -->
<h1>Teaching</h1>

<p>I had the chace to TA for the CS189: Introduction to Machine Learning course at Berkeley. Teaching helped me broaden my own knowledge and understand the difficulties people face when trying to learn. Below are some materials from the Spring 2016 offering of the course: </p>
</div>

<div class="clearfix"></div>
<!-- Image Net Delta -->

<ul class="portfolio portfolio_2col full">
	<li class="one_half all print"><a href="http://people.eecs.berkeley.edu/~jrs/189/"><img alt="" height="300" src="../img/detection.jpg" /> <span class="caption">Course Website</span> </a></li>
	<li class="one_half all print"><a href="https://drive.google.com/folderview?id=0B6C-DilqG6vIc3lsUS1XSHhOc2M&amp;usp=sharing"><img alt="" height="300" src="../img/ml2.jpg" /> <span class="caption">My Teaching Material</span> </a></li>
</ul>
</section>

<section id="intern">
<div class="full"><!-- BDD -->
<h1>Work Experience</h1>

<p>In the past, I&#39;ve had the opportunity to be a part of internship programs at two great companies: Informatica Corporation and Microsoft Corporation. Here are some highlights from my time at both companies.</p>
</div>

<div class="clearfix"></div>

<div class="one_third">
<h2><a href="http://news.microsoft.com/presskits/windows/#sm.001r1d3x51b4ce1xvp11h8p9m9aqh">Microsoft: Windows Quality Insights Team</a></h2>

<p>At Microsoft, I got a chance to work on the Windows 10 platform and was even part of it&#39;s launch. During my time there I worked on machine learning systems to predict failures and execution times for builds within the Windows testing framework. I was able to deploy these predictive systems in <a href="https://azure.microsoft.com/en-us/">Azure</a>, allowing them to scale and automatically update as new data streams in.</p>
</div>

<div class="two_thirds"><img alt="" src="../img/hackathon.jpg" /></div>

<div class="clearfix"></div>
</section>

<section id="intern2">
<div class="one_third"><img alt="" height="300" src="../img/informatica.jpg" /></div>

<div class="two_thirds">
<h2><a href="https://www.informatica.com/products/data-integration/advanced-data-transformation.html#fbid=U4oPbLhAC0U">Informatica: Data Engine Team</a></h2>

<p>At Informatica, I was able to gain exposure to all kinds of Hive and Hadoop technologies, building upon Apache frameworks like <a href="http://kafka.apache.org/">Kafka</a> and <a href="http://storm.apache.org/">Storm</a>. My role here focused on optimizing queries for the data transformation tool within the ETL platform, PowerCenter. It was here where I really got excited about big data and large-scale machine learning.</p>
</div>

<div class="clearfix"></div>
</section>
<!-- Footer -->

<footer>
<div class="container masonry"></div>

<div class="clearfix"></div>

<div class="bottom">
<div class="container">
<nav class="one_third">
<ul style="float: left">
	<li><a href="https://www.linkedin.com/in/vashishtmadhavan"><img alt="" height="30" src="../img/linkedin.png" width="30" /></a></li>
	<li><a href="mailto:vashisht.madhavan@gmail.com"><img alt="" height="30" src="../img/email.png" width="30" /></a></li>
	<li><a href="https://github.com/VashishtMadhavan"><img alt="" height="40" src="../img/github.png" width="40" /></a></li>
</ul>
</nav>

<nav class="two_thirds">
<ul>
	<li><a href="../index.html">HOME</a></li>
	<li><a href="research.html">RESEARCH</a></li>
	<li><a href="about.html">ABOUT</a></li>
	<li><a href="../pdf/resume.pdf">RESUME</a></li>
</ul>
</nav>

<div class="clearfix"></div>
</div>
</div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script><script>window.jQuery || document.write('<script src="../js/libs/jquery-1.6.2.min.js"><\/script>')</script><!-- Scripts --><script defer src="../js/jquery.easing.1.3.js"></script><script defer src="../js/jquery.fancybox-1.3.4.pack.js"></script><script defer src="../js/jquery.masonry.min.js"></script><script defer src="../js/jquery.roundabout.min.js"></script><script defer src="../js/pretty.js"></script><script defer src="../js/script.js"></script></div>

<div class="clearfix"></div>
</body>
</html>